html,
body {

  box-sizing: border-box;
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #ffffff;
}

body > input[type="radio"] {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.content-wrapper {
  position: relative;

  display: block;
  width: 1146px;
  margin: 0 auto;
}

.site-wrapper {
  min-width: 1200px;

  background-color: #849d8f;
  background-image: url("slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper ul {
  padding:0;
  list-style: none;
}


a {
  text-decoration:none;
  color:inherit;
}

.btn {
  display: inline-block;
  padding: 9px 25px 11px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(#f26843, #e74b36);
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 1px 2px #ac1000;
}

.btn:hover {
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:focus,
.btn:active {
  color: #fceeec;
  background-image: linear-gradient(#d74632, #e1613e);
  box-shadow: inset 0 2px 2px #942718;
}

.forms {
  position: relative;
  margin: 0 0 20px 0;
  height: 44px;
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 24px;
  margin: 10px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  color: #323232;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 0 0 1px rgb(211, 211, 210);
}

.field:hover {
 box-shadow: inset 0 0 0 2px #999999;
}

.field:focus {
   box-shadow: inset 0 0 0 2px #5b9ddf;
}

.field + label {
  position: absolute;
  top: 11px;
  left: 14px;
  color: #999999;
  pointer-events: none;
}

.field:focus + label {
  color: #5b9ddf;
}

.field:focus + label,
.field:required:valid + label {
  top: -14px;

  font-size: 11px;
  line-height: 11px;
}
.main-header {
  position: relative;
  display: flex;
}

.main-navigation {
  display: flex;
  width: 100%;
  min-height: 226px;
  background-color: transparent;
}

.main-header-logo {
  margin-top: 9px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 23px auto 0 9px;

  font-weight: 700;
  line-height: 18px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #323232;

  outline: none;
}

.site-navigation-item {
  position: relative;
  align-self: flex-start;
}

.site-navigation-item:target {
  top: -23px;
  padding-top: 23px;
}

.site-navigation-item > a {
  display: inline-block;
  margin: 9px 14px 0;
  padding-bottom: 3px;
  line-height: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-item:hover > a,
.site-navigation-item > a:focus,
.site-navigation-current > a,
.site-navigation-item:target > a {
  margin: 0;
  padding: 9px 14px 11px;
  color: #323232;
  background-color: #f7f6f3;
  border: none;
  border-radius: 24px;
}

.site-navigation-item > a:focus,
.site-navigation-item:target > a {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.site-navigation-current > a,
.site-navigation-current > a:hover {
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation-item > a:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
}

.ice-cream-navigation {
  position: absolute;
  top: -100000px;
  left: -6px;
  z-index: 100;
  overflow: hidden;
  white-space: nowrap;
  background-color: #f7f6f3;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.site-navigation-item:hover .ice-cream-navigation{
  top: 37px;
}

.site-navigation-item:target .ice-cream-navigation {
  top: 60px;
}

.ice-cream-navigation-item a {
  display: block;
  padding: 9px 20px 7px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.ice-cream-navigation-item:last-child a {
  padding: 8px 21px 12px;
}

.ice-cream-navigation-item a:hover {
  background-color: #fbded7;
}

.ice-cream-navigation-item a:focus,
.ice-cream-navigation-item a:active {
  background-color: #f6b5a5;
}

.site-nav-submenu-current a,
.site-nav-submenu-current a:hover {
  color: #ffffff;

  background-color: #d07058;
}

.ice-cream-navigation-item:first-child a {
  position: relative;
  padding: 11px 21px 12px;
  font-weight: 700;
}

.ice-cream-navigation-item:first-child a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;
  height: 1px;
  width: calc(100% - 12px);
  background-color:  rgba(53, 53, 53, 0.2);
}

.user-navigation {
  display: flex;
  margin: 0;
}

.user-navigation li {
  position: relative;

  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 23px 0 0 10px;
  padding: 0;
}

.user-navigation li:target {
  top: -23px;

  padding-top: 23px;
}

.user-forms  {
  position: absolute;
  top: 37px;
  right: 0;
  display: none;
  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}

.user-forms::before {
  content: "";

  position: absolute;
  top: -5px;
  left: 0;

  width: 100%;
  height: 5px;
}

.user-navigation-btn {
  display: inline-block;
  padding: 8px 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: inherit;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 16px;
  outline: none;
}

.user-navigation-btn:not(.href):hover,
.user-navigation-btn.basket-full {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-btn:focus,
.search-link:target .user-navigation-btn,
.login-link:target .user-navigation-btn,
.bin-link:target .user-navigation-btn {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.search-link:target .user-forms,
.login-link:target .user-forms,
.bin-link:target .user-forms {
  top: 60px;
  z-index: 99;

  display: block;
}

.user-navigation .field {
  font-size: 14px;
}

.search-link .user-navigation-btn {
  padding: 7px 7px 4px 8px;

  border-radius: 50%;
}

.search-link .user-navigation-btn::before {
  content: url("../img/loupe.svg");
  display: inline-block;
  width: 17px;
  height: 17px;
}

.search-link .user-navigation-btn:hover::before,
.search-link .user-navigation-btn:focus::before,
.search-link:target .user-navigation-btn::before {
  content: url("../img/loupe-hover.svg");
  color: #000000;
}

.search-link form {
  width: 343px;
  padding: 20px 16px;
}

.search-link:hover .user-forms {
  z-index: 100;
  display: block;
}

.search-link .forms {
  margin: 0;
}

.search-link .btn {
  margin-top: 20px;
}

.login-link .user-navigation-btn {
  position: relative;

  padding-left: 44px;
}

.login-link  .user-navigation-btn::before {
  content: url("../img/entrance.svg");

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;
}

.login-link .user-navigation-btn:hover::before,
.login-link .user-navigation-btn:focus::before,
.login-link:target .user-navigation-btn::before {
  content: url("../img/entrance-hover.svg");
}

.login-link form {
  width: 277px;
  padding: 20px 17px;
}

.login-link:hover .user-forms
{
  z-index: 100;
  display: block;
}

.controls {
  display: flex;
  align-items: center;
}

.controls p {
  margin: 0 0 0 auto;
}

.login-buttons a {
  display: table;

  font-size: 13px;
  line-height: 13px;
  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-buttons a:first-child {
  margin-bottom: 7px;
}

.login-buttons a:hover,
.login-buttons a:focus,
.login-buttons a:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.user-nav-basket .user-nav-btn {
  position: relative;

  min-width: 117px;
  padding-left: 45px;
}

.bin-link .user-navigation-btn::before {
  content: url("../img/basket.svg");

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;
}

.bin-link .basket-full::before,
.bin-link .basket-full:hover::before,
.bin-link:target .basket-full::before {
  content: url("../img/basket-red.svg");
}

.contacts {
  position: absolute;
  top: 58px;
  right: 0;
  z-index: 1;

  font-weight: 700;
}

.time-of-work {
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.contacts .phone {
  margin-right: -1px;
  font-size: 22px;
  line-height: 22px;
  white-space: nowrap;
}

.contacts .phone:hover,
.contacts .phone:focus,
.contacts .phone:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.banner-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.banner-item-1 {
  background-image: url("../img/malina-bg.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 600px;
  height: 230px;
  color: #ffffff;
}

.banner-item-2 {
  background-image: url("../img/chocolate-bg.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 600px;
  height: 230px;
  color: #ffffff;
}

.banner-item-1 h3,
.banner-item-2 h3 {
  font-size: 35px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 41px;
  text-align: left;
  margin: 0;
  padding: 0;
  padding: 15px 20px;
}

.banner-item-1 p,
.banner-item-2 p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 22px;
  text-align: left;
  word-wrap: none;
  width: 521px;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 45px;
}

.banner-item-1 a {
  display: block;
  width: 125px;
  text-align: center;
  position: relative;
  left: 375px;
}

.banner-item-2 a {
  display: block;
  width: 150px;
  text-align: center;
  position: relative;
  left: 350px;
}

.hit {
  width: 1146px;
  margin-top: 50px;
}

.hit-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hits-1 {
  position: absolute;
  top: 11px;
}

.hits-2 {
  position: absolute;
  top: 11px;
}

.hits-3 {
  position: absolute;
  top: 11px;
}

.hits-4 {
  position: absolute;
  top: 11px;
}

.hit-item-price {
  font: inherit;
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  bottom: 60px;
  color: #ffffff;
}

.hit-item-price b {
  font-size: 30px;
  line-height: 45px;
}

.hit-item-name {
  width: 267px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
}

.features {
  margin: 0;
  padding: 25px 20px;
  color: #323232;

  background: url("../img/vaffle.png");
  border-radius: 14px;
}

.features h2 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0;
}

.features li {
  position: relative;
  width: 470px;
  padding: 21px 5px 0 57px;
}

.features li::before {
  position: absolute;
  top: 8px;
  left: 0;

  width: 49px;
  height: 49px;
}

.features-item-info::before {
  content: url("../img/ice-cream.svg");
}

.features-item-contractors::before {
  content: url("../img/cow.svg");
}

.features-item-ingridients::before {
  content: url("../img/eco.svg");
}

.features-item-delivery::before {
  content: url("../img/thermometer.svg");
}


.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 1146px;
  margin-top: 40px;
}

.news-item-1 {
  background-image: url("../img/straweberry-bg.png");
  background-repeat: no-repeat;
  min-height: 220px;
  width: 570px;
}

.news-item-1 h3 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.news-item-1 a {
  display: block;
  width: 290px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
  text-decoration: underline;
}

.news-item-1 a:hover,
.news-item-1 a:focus,
.news-item-1 a:active{
  color:#942718;
}

.news-item-2 {
  width: 500px;
  padding: 29px 22px 25px 20px;
  background-image:
  linear-gradient(#f8f7f4, #f8f7f4),
  repeating-linear-gradient(135deg,
    #f8f7f4,
    #f8f7f4 7px,
    #92cdff 7px,
    #92cdff 14px,
    #f8f7f4 14px,
    #f8f7f4 21px,
    #fe9e90 21px,
    #fe9e90 28px);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 5px solid transparent;
  border-left-width: 6px;
  border-radius: 14px;
  margin-bottom:30px;
}

.news-item-2-text {
  margin: 0 0 36px 1px;
  color: #5a5a5a;
}

.news-item-2 form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news-item-2 .forms {
  flex-grow: 1;
  margin:0 12px 10px 0;
}

.news-item-2 label {
  left: 15px;
}

.news-item-2 .btn {
  margin-top: -1px;
  padding: 8px 17px 12px 18px;

  border-radius: 22px;
  
}

.map-contact {
  height: 429px;
  background-color: #e7e2cd;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.map-info {
  position: absolute;
  left: calc(50% + 271px);
  z-index: 1;

  width: 300px;
  margin-top: 62px;
  padding: 29px 25px 31px;


  background-color: #fdfefe;
  border-radius: 14px;
}

.map-info p {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.map-info-item {
  width: 150px;
}

.map-info b {
  display: block;
  margin: 0 0 19px;

  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.map-info .phone {
  display: table;
  margin: 6px 0 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border-bottom: 1px solid transparent;
}

.map-info .phone:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.map-info .phone:focus,
.map-info .phone:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.map-info .btn {
  margin-top: 24px;
  padding: 8px 26px 12px 29px;

  border-radius: 24px;
}
.footer-social-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
}

.navigation-footer-list a {
  display: block;
  color: #ffffff;
}

.navigation-footer-list li:nth-child(1) {
  font-weight: 700;
}

.navigation-footer-list a {
  font-size: 13px;
}

.navigation-footer-list {
  display: flex;
  width: 309px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  line-height: 16px;
  margin-top: 30px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  font-weight: normal;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.footer-copyright b {
  font-weight: normal;
  position: relative;
}

}
.login-form p {
  margin: 0;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 239px;
  padding: 10px 15px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
}






































/*-----Слайдер-----*/

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/sldie-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}