html,
body {
  min-height: 100vh; /* для демо */
  margin: 0; /* для демо */
}

body {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1280px;
  min-height: 100vh; /* для демо */

  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  height: 100px; /* для демо */

  background-color: rgba(0, 0, 0, 0.4); /* для демо */
  box-shadow: inset 0 0 0 4px #000000; /* для демо */
}

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/sldie-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
  
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.main-navigation {
    display: flex;
    flex-direction: row;
    
    
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  
    background-color: transparent;
}

.site-navigation {
    list-style: none;
}

.site-navigation li{
    display: inline;
    padding-right:25px;
}

.ice-cream-navigation {
    display: none;
}

.user-navigation{
    list-style: none;
}

.user-navigation li{
    display: inline;
    padding-right:25px;
    text-align:right;
}

.banner-list {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:40px;
}

.banner-item-1 {
    background-image: url("../img/malina-bg.png");
    background-repeat: no-repeat;
    border-radius: 10px;
    width:600px;
    height: 230px;
    color:#ffffff;
}
.banner-item-2 {
    background-image: url("../img/chocolate-bg.png");
    background-repeat: no-repeat;
    border-radius: 10px;
    width:600px;
    height: 230px;
    color:#ffffff;
}
.banner-item-1 h3,
.banner-item-2 h3 {
    font-size: 35px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 41px;
    text-align: left;
    margin:0;
    padding:0;
    padding:15px 20px;
}

.banner-item-1 p,
.banner-item-2 p {
    margin:0;
    padding: 0;    
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 22px;
    text-align: left;
    word-wrap: none;
    width: 521px;
    padding-top:5px;
    padding-left: 20px;
    padding-bottom:45px;
}

.banner-item-1 a {
    display: block;
    width:125px;
    text-align:center;
    position: relative;
    left:375px;
}

.banner-item-2 a {
    display: block;
    width:150px;
    text-align:center;
    position: relative;
    left:350px;
}



      

  