body {
    margin: 0;
    padding: 0;
    font-family: "roboto", "arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: rgb(128, 152, 139);
    background-image: url("../img/bg.png");
    background-repeat: repeat;
    width:1250px;
    height:2449px;
}

a {
    text-decoration: none;
}

.button {
    padding-top: 13px;
    padding-right: 24px;
    padding-bottom: 13px;
    padding-left: 22px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 100px;
}


}
.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}
.site-navigation,
.user-navigation,
.ice-cream-navigation {
    list-style: none;
}
.site-navigation a,
.user-navigation a {
    color: #ffffff;
}
.ice-cream-navigation a,
.ice-cream-navigation li:first-child {
    color: black;
}
.features {
    background-image: url("../img/vaffle.png");
    background-repeat: no-repeat;
}
.features-list,
.banner-list,
.hit-item,
.news-list,
.map-list,
.footer-social-item,
.navigation-footer-list {
    list-style: none;
}

.features-item {
    text-align: left;
    width: 482px;
    min-height: 64px;
   
}
.features h2 {
    font-size: 24px;
    line-height: 30px;
}
.banner-item-1 {
    background-image: url("../img/malina-bg.png");
    background-repeat: no-repeat;
    width: 560px;
    min-height: 230px;
}
.banner-item-2 {
    background-image: url("../img/chocolate-bg.png");
    background-repeat: no-repeat;
    width: 560px;
    min-height: 230px;
}
.banner-item-1,
.banner-item-2 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    color: #ffffff;
}
.banner-item-1 p,
.banner-item-2 p {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
.news-item-1 {
    background-image: url("../img/straweberry-bg.png");
    background-repeat: no-repeat;
    width: 520px;
    min-height: 221px;
}
.news-item-2 {
    font: inherit;
    background-color: #ffffff;
    width: 520px;
    min-height: 221px;
}
.visually-hidden {
    display: none;
}
.slider-area {
    height: 550px;
    margin: 100px auto 0;
    position: relative;
    width: 1200px;
}
.slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}
.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
}
.slide1 {
    background-image: url("../img/first-ice.png");
    background-repeat: no-repeat;
}
.slide2 {
    background-image: url();
}
.slide3 {
    background-image: url("../img/ice-slider3.png"), url("../img/ice2-slider3.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 277px 83px, 591px 126px;
}
#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3 {
    opacity: 1;
    z-index: 1;
}
.slider-area>input {
    display: none;
}
.slider-area .controls {
    left: 50%;
    margin-left: -98px;
    position: absolute;
}
.slider-area label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.slider-area label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3) {
    background: #ddd;
}
.slider-area label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.slide-item {
    font:inherit;
    font-size:60px;
    line-height:60.35px;
    color: #ffffff;
    text-align:center;
    vertical-align: text-bottom;
}
.map-info {
    font: inherit;
    background-color: #ffffff;
    width: 305px;
    height: 305px;
}
.main-footer {
    color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat;
}
.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}
.footer-social {
    text-align: left;
}
.footer-social ul {
    list-style: none;
}
.social-button {
    color: #ffffff;
}
.footer-copyright {
    text-align: right;
}
.footer-copyright .button:hover,
.footer-copyright .button:focus {
    background-color: #ffffff;
}
.navigation-footer-list {
    text-align: center;
}

.modal-contacts {
    width:460px;
    min-height:443px;
    background-color:#ffffff;
    font-inherit;
}

.modal-login {
    font:inherit;
    width:280px;
    min-height:216px;
    background-color:#ffffff;
}