body {
    margin: 0;
    padding: 0;
    font-family: "roboto", "arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: rgb(128, 152, 139);
    background-image: url("../img/bg.png");
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.site-navigation,
.user-navigation,
.ice-cream-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.ice-cream-navigation a,
.ice-cream-navigation li:first-child {
    color: black;
}

.features {
    background-image: url("../img/vaffle.png");
    background-repeat: no-repeat;
}

.features-list,
.banner-list,
.hit-item,
.news-list {
    list-style: none;
}

.features-item {
    text-align: left;
    width: 482px;
    min-height: 64px;
}

.features h2 {
    font-size: 24px;
    line-height: 30px;
}

.banner-item-1 {
    background-image: url("../img/malina-bg.png");
    background-repeat: no-repeat;
    width: 560px;
    min-height: 230px;
}

.banner-item-2 {
    background-image: url("../img/chocolate-bg.png");
    background-repeat: no-repeat;
    width: 560px;
    min-height: 230px;
}

.banner-item-1,
.banner-item-2 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    color: #ffffff;
}

.banner-item-1 p,
.banner-item-2 p {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.news-item-1 {
    background-image: url("../img/straweberry-bg.png");
    background-repeat: no-repeat;
    width: 520px;
    min-height: 221px;
}